.navbar-default {
  background-color: transparent;
  border-bottom: 1px solid rgba(255,255,255,.2);
}

.navbar-default .navbar-nav > li > a:hover {
  border-bottom: 1px solid #CCCCCC;
}

.container {
  margin-right: auto;
    margin-left: auto;
}

#intro {
	width: 30%;
	margin: auto;
	text-align: center;
}

#signup_form {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

@media only screen and (min-width: 700px) {
    #intro {
    width: 100%;
  }
  /*ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
  }*/
}