header {
	color: grey;
	width: 100%;
	height: 50px;
	text-align: center;
}
form {
	width: 500px;
	margin: auto;
}
input {
	background: transparent;
	border: none;
	border-bottom: 1px solid silver;
	margin-right: 10px;
}
.radio label, .checkbox label {
	float: left;
}
#news_icon {
	/*font-size: 2em;*/
}
#newsitem_read {
	margin: 15px;
	cursor: pointer;
}
#news {
	padding: 0px;
}
.unread-true {
	background: #CBF0F9;
}
.unread-false {
	background: #FFFFFF;
}
.chat-item {
	text-align: left;
	padding: 10px;
	border-bottom: 1px solid silver;
}
.chat-item:last-child {
	border: none;
}
.float-right {
	float: right;
}
.bold {
	font-weight: 900;
}
.light {
	font-weight: 200;
}

@media (min-width: 768px) {
	nav li.dropdown:hover > .dropdown-menu {
	    display: block;
	  }
	.navbar {
		background: transparent;
		border: none;
	}
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }
	.navbar .navbar-collapse {
        text-align: center;
    }
    .form-horizontal .control-label {
    	text-align: left;
    }
}
}